.header {
    background-color: #DEB6AB;
    text-align: center;
    padding: 15px 0px;
}

.header nav a {
    background-color: #DEB6AB;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header nav a:hover {
    background-color: white !important;
}

.userNameInHeader {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.signOut-btn {
    margin-left: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
}